.note {
    color: black;

    #author {
        text-align: center;
        color: gray;
        font-size: 12pt;
        padding-top: 15px;
    }

    #date {
        text-align: center;
        color: gray;
        font-size: 12pt;
        margin-top: -10px;
    }

    #markdown-toc {
        @media (min-width: 1000px) {
            position: fixed;
            top: 15%;
            left: 0;
            margin-left: 70%;

            text-align: left;
            max-height: 70vh; // Set maximum height
            overflow-y: auto; // Enable vertical scrolling

            .unfold>ul {
                display: block;
            }

            ul {
                display: none;
            }

            a.active {
                font-weight: bold;
            }
        }

        line-height: 1.5;

        li {
            ul {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        // add a border
        border-left: 1px solid #e1e4e8;
        padding-left: 20px;
        margin-left: 20px;
        margin-bottom: 30px;

        li {
            list-style: none;
            padding-top: 5px;
        }

        ul {
            list-style-type: none;
        }
    }

    .title {
        padding-top: 20px;
        font-size: 20pt;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    h1 {
        font-weight: bold;
        font-size: 16pt;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    h2 {
        font-size: 15pt;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 11px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    .caption {
        font-size: 12pt;
        color: gray;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    blockquote {
        padding: 10px 20px;
        margin: 20px 0;
        border-left: 5px solid #ccc;
        background-color: #f9f9f9;
        color: #555;
        font-style: italic;
    }

    blockquote p:last-child {
        margin-bottom: 0;
    }

    #center {
        text-align: center;
    }

    @media (min-width: 1000px) {
        padding-right: 25%;
        margin-right: 11%;
    }

    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    img {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

html {
    scroll-padding-top: 3.5rem;
    /* height of sticky header */
}

.header-link {
    margin-left: 8px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    visibility: hidden;
}

.scroll-to-top {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(175, 100, 5);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px 20px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    /* Add a subtle shadow to the bottom right */
    /* Add a subtle shadow */
    font-size: 16px;
    /* Font size */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Smooth transitions */
}

.scroll-to-top:hover {
    background-color: rgb(195, 120, 25);
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    visibility: visible;
}

.copy-button {
    position: absolute;
    /* Position absolute to allow dynamic positioning */
    background-color: #f9f9f9;
    /* Match the background color of pre */
    color: rgb(175, 100, 5);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    z-index: 1000;
    /* Ensure it is above other elements */
}

.copy-button:hover {
    color: rgb(195, 120, 25);
}

.copy-button {
    position: absolute;
    /* Position absolute to allow dynamic positioning */
    background-color: #f9f9f9;
    /* Match the background color of pre */
    color: rgb(175, 100, 5);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    z-index: 1000;
    /* Ensure it is above other elements */
}

.copy-button:hover {
    color: rgb(195, 120, 25);
}