<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<body class="theme-base-{{site.color-scheme}}">


  <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
  <script>
    function myFunction(x) {
      var y = document.getElementById("hamburger");
      console.log(y);
      x.parentNode.classList.toggle("change");
    }

    document.addEventListener('DOMContentLoaded', function () {
      const tocLinks = document.querySelectorAll('#markdown-toc a');
      const sections = Array.from(tocLinks).map(link => document.querySelector(link.getAttribute('href')));

      window.addEventListener('scroll', () => {
        let currentSection = sections[0];

        for (let i = 0; i < sections.length; i++) {
          const section = sections[i];
          const sectionTop = section.getBoundingClientRect().top;
          const sectionBottom = section.getBoundingClientRect().bottom;
          const viewportHeight = window.innerHeight;
          const headerHeight = 3.5 * 16; // 3.5rem

          if (sectionTop < viewportHeight && sectionBottom > 0) {
            currentSection = section;
            break;
          }

          // Check if scrolling up and the section is off the top of the viewport
          if (sectionTop < 0 && sectionBottom > 0) {
            currentSection = section;
          } else if (sectionTop < 0 && i > 0 && sections[i - 1].getBoundingClientRect().bottom > 0) {
            currentSection = sections[i - 1];
          }
        }

        // Check if the current section header isn't in the viewport when scrolling up
        if (currentSection.getBoundingClientRect().top < 0) {
          for (let i = 0; i < sections.length; i++) {
            const section = sections[i];
            if (section.getBoundingClientRect().top >= 0) {
              currentSection = sections[i - 1] || sections[0];
              break;
            }
          }
        }

        const tocItems = document.querySelectorAll('#markdown-toc li');
        tocItems.forEach(item => {
          item.classList.remove('unfold');
          item.querySelector('a').classList.remove('active');
        });

        tocLinks.forEach(link => {
          if (link.getAttribute('href') === `#${currentSection.id}`) {
            let parent = link.parentElement;
            link.classList.add('active');
            while (parent && parent.id !== 'markdown-toc') {
              if (parent.tagName === 'LI') {
                parent.classList.add('unfold');
              }
              parent = parent.parentElement;
            }
          }
        });
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      const headers = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
      headers.forEach(header => {
        const id = header.id;
        if (id) {
          const anchor = document.createElement('a');
          anchor.href = `#${id}`;
          anchor.className = 'header-link';
          anchor.innerHTML = '#';
          header.appendChild(anchor);
        }
      });
    });
  </script>
  <div class="wrap">
    <header class="masthead noprint">
      <div class="middle-container">
        <a id='name' href="{% link index.md %}">Sanjit Dandapanthula</a>
        <div class="span" id="normal-top-links">
          <a href="{% link cv/index.html %}">CV</a>
          <a href="{% link notes/index.html %}">Notes</a>
        </div>
        <div class="span" id="responsive-top-links">
          <div class="hamburger" id="hamburger">
            <div class="three-lines" onclick="myFunction(this)">
              <div class=" bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>

            <ul>
              <li>
                <a href=" {% link cv/index.html %}">CV</a>
              </li>
              <li>
                <a href="{% link notes/index.html %}">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  </div>
  </header>
  </div>

  <div class="spacer">

  </div>

  <main class="content" id="main">
    {{ content | replace: '<a href="http', '<a rel=" nofollow noopener noreferrer" href="http' }}
    </main>
  </div>

</body>

<!-- Footer  -->
<hr class=" noprint">
      <div id="footer" class="noprint">
        <div class='middle-container links'>
          <a href="https://github.com/sanjitdp" rel='nofollow' target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/sanjitd" rel='nofollow' target="_blank"><i
              class="fab fa-linkedin"></i></a>
          <a href="mailto:sanjitd@cmu.edu" rel='nofollow'><i class="fas fa-envelope"></i></a>
        </div>
        <div class='copyright'>
          <small>&#169; {{ 'now' | date: "%Y" }} Sanjit Dandapanthula</small>
        </div>
      </div>

</html>